body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(to top, #d0f0ff, #ffffff);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

canvas {
    border: 2px solid #444;
    background-color: #ccf2ff;
}